<ol class="breadcrumb">
  <li><%= link_to 'Dashboard', '/dashboard' %></li>
  <li><%= link_to 'Dynamic Setpoints', '/dashboard/dynamic_setpoints' %></li>
  <li class="active">New</li>
</ol>
<%= render 'form' %>
