<div id="device-<%= device.id %>">
	<fieldset>
		<legend>
			<h2><%= device.name %></h2>
		</legend>
		<%= render device.sensors %>
		<%= link_to 'Edit Device Settings', edit_device_path(device) %>
	</fieldset>
</div>
