<div id="device-<%= device.id %>">
	<fieldset>
		<legend>
			<h1><%= device.name %></h1>
		</legend>
		<%= render device.sensors %>
		<%= link_to 'Edit Device Settings', edit_device_path(device) %>
	</fieldset>
</div>
