<h1>Activate device</h1>

<%= form_tag do %>
  <div class="field">
    <%=label_tag 'activation_token' %><br />
    <%=text_field_tag 'activation_token'%>
  </div>

  <div class="actions">
    <%= submit_tag 'Activate Device' %>
  </div>
<% end %>
