<% unless @devices.blank? %>
	<%= render @devices %>

	<%= link_to 'Activate Device', devices_activate_path %>
<% else %>
	<div id="no-devices">
		<h1 id="blurb">No devices have been added to your account.</h1>
		<%= link_to "Add One!", devices_activate_path, :class => 'btn' %>
	</div>
<% end %>
