<% unless @devices.blank? %>
  <%= render @devices.first %>
<% else %>
	<div id="no-devices">
		<h1 id="blurb">No devices have been added to your account.</h1>
		<%= link_to "Add One!", devices_activate_path, class: 'btn btn-primary btn-lg' %>
	</div>
<% end %>
