<% content_for :title do %>
High Temperature Alert from your BrewBit Model-T
<% end %>

<% content_for :heading do %>
High Temperature Alert
<% end %>

<% content_for :summary do %>
The temperature of your session '<%= @session.name %>' rose above your high temperature alert threshold.
<% end %>

<% content_for :threshold do %>
High temp alert threshold: <span style="font-weight: bold;"><%= @temp_threshold.round(1) %> &deg;F</span>
<% end %>

<% content_for :current_value do %>
Current temperature: <span style="font-weight: bold;"><%= @session.last_reading.round(1) %> &deg;F</span>
<% end %>

<% content_for :recommendation do %>
We recommend that you inspect your Model-T and heating/cooling device(s) to ensure they are operating correctly.
<% end %>
