/*
Placeholder manifest file.
*/

#no-stuff {
	text-align: center;
  margin-bottom: 25px;

	#blurb {
		margin-bottom: 25px;
	}
}

.bottom-space {
  margin-bottom: 25px;
}

.panel-controls {
  margin-top: -23px;
}

