/*
Placeholder manifest file.
*/

#no-stuff {
  text-align: center;
  margin-bottom: 25px;

  #blurb {
    margin-bottom: 25px;
  }
}

.bottom-space {
  margin-bottom: 25px;
}

.panel-controls {
  margin-top: -23px;
}

.session-title-sep {
  margin-left: 25px;
  margin-right: 25px;
  color: #cccccc;
}

.session-controls {
  margin-left: 15px;
}

.session-event {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #E1974C;
  border: 1px solid black;
  cursor: pointer;
}

.dygraph-label, .dygraph-axis-label {
  pointer-events: none;
}
