<ol class="breadcrumb">
  <li><%= link_to 'Dashboard', '/dashboard' %></li>
  <li><%= link_to 'Temperature Profiles', '/dashboard/temp_profiles' %></li>
  <li><%= link_to @temp_profile.name, @temp_profile %></li>
  <li class="active">Edit</li>
</ol>
<%= render 'form' %>
