<ol class="breadcrumb">
  <li><%= link_to 'Dashboard', '/dashboard' %></li>
  <li><%= link_to 'Temperature Profiles', '/dashboard/temp_profiles' %></li>
  <li class="active">New</li>
</ol>
<%= render 'form' %>
