<%= render partial: 'spree/admin/shared/devices_sub_menu' %>

<% content_for :page_title do %>
  All Devices
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Device Name</th>
      <th>Owner</th>
      <th>Activated?</th>
      <th>Connected?</th>
      <th>Update Channel</th>
    </tr>
  </thead>
  <% @devices.each do |device| -%>
    <%= render partial: 'device', locals: { device: device } %>
  <% end -%>
</table>

